@charset "utf8";
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

th {
    background-color: #408080;
}

td {
    background-color: #80ffff;
}
td{
.oldprices text-decoration:line -through;
}