body {
    background-color: pink; /*lo applico al body a tutto*/
}

p {
    font-family: serif;
}

#special { /* mi aspetto che id sarà special*/
    color: violet;
}

h1, h2, h3 {
    color: blue;
}

.myClass {
    font-style: italic;
}

p.myClass { /* solo i paragrafi di quella classe */
    color: black;
}

#paragraphId {
    color: #ffff80;
}

#blockId {
    border: 3px solid #8000ff; /* voglio settare il bolder*/
    background-color: #ff80ff;
}

.boldCls { /* per dire il grassetto*/
    font-weight: bold;
}

.itaCls {/*per il corsivo*/
    font-style: italic;
}

.upperCls {/*posso trasformare il mio testo*/
    text-transform: uppercase;
}
